name = "cdn-dev"
type = "webpack"
account_id = "your_account_id"
zone_id = "your_zone_id"
workers_dev = false
webpack_config = "webpack.config.js"
route = "example.com/cdn-cgi-dev/*"
vars = {PREFIX = "/cdn-cgi-dev/"}

[env.staging]
name = "cdn-staging"
route = "example.com/cdn-cgi-staging/*"
vars = {PREFIX = "/cdn-cgi-staging/"}

[env.production]
name = "cdn-prod"
route = "example.com/cdn-cgi-prod/*"
vars = {PREFIX = "/cdn-cgi-prod/"}
